# Docker Registry Credentials
DOCKER_EMAIL=your-email@example.com
DOCKER_PASSWORD=your-password
DOCKER_REGISTRY=your-docker-registry
DOCKER_USERNAME=your-username

# Elasticsearch Results Cluster
RESULTS_ES_PASSWORD=your-results-cluster-password
RESULTS_ES_URL=https://your-cluster.es.io
RESULTS_ES_USER=elastic

# Dataset information
DATASET_DATA_URL="dataset-url"
DATASET_QUERIES_URL="queries-url"
